<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Title</title>
</head>
<body>
<h1>INFORMATION ABOUT DARGA</h1>
<img src="{% static 'darga.jpg' %}">
<img src="{% static 'mos.jpg' %}">
<img src="{% static 'HAZRAT.jpg' %}">
<img src="{% static 'peeru.jpg' %}">
<h1>THESE ARE THE MOST BEAUTIFUL PEACEFULL PLACE IN THE WORLD</h1>
<li>Just Be Honest</li>
<li>Try To Convey ur Wish Sincerely</li>
<li>Most Of The Wonderful People Will be There</li>
<img src="{% static 'main.jpg' %}">
<img src="{% static 'super.jpg' %}">
<img src="{% static 'wow.jpg' %}">
<img src="{% static 'wow1.jpg' %}">
<h1>IAM VERY HAPPY GIVING ME WONDERFUL OPPORTUNITY OF DOING SERVICE HERE,</h1>
<li>I Have To Do My Service Here, WhenEver I got THe  free Time</li>
<li>I Always Glad To Do Service here</li>
<h2><a href="/history/">NEXT PAGE</a></h2>

</body>
</html>