<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="{% static 'style.css' %}">


    <title>Title</title>
</head>
<body>
<h1>{{head_msg}}</h1>
<ul>
    <li><h2>{{sub_msg1}}</h2></li>
    <li><h2>{{sub_msg2}}</h2></li>
    <li><h2>{{sub_msg3}}</h2></li>
</ul>
<img src="{% static 'peeru.jpg' %}">
<img src="{% static 'peeru.jpg' %}">
<img src="{% static 'peeru.jpg' %}">
<img src="{% static 'peeru.jpg' %}">
<img src="{% static 'peeru.jpg' %}">
<img src="{% static 'peeru.jpg' %}">
<img src="{% static 'peeru.jpg' %}">
<img src="{% static 'peeru.jpg' %}">
<h2>Rules</h2>
<ul>
    <li>plze try To Cover Ur Heads</li>
    <li>If Ur Visiting First time To This Historical Wonder </li>
    <li>Guides will Provide U Valuable Information </li>
    <li>For this U dont want to pay any Amount </li>
<h2><a href="/manage/">NEXT PAGE</a></h2>
</ul>
</body>
</html>