<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
      <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Title</title>
</head>
<body>
<h1>PROVIDING SUPPORT TO OUR DARGA IN MANY ASPECTS</h1>
<ul>
    <li>Providing Darga Related Information</li>
    <li>Involving Development Aspects of this Historical Place</li><br>
    <P>Maintaing other Activities like who are visiting to Darga For the purpose of Staying in Darga At Night</P><hr>

    <h2>RULES:FOR STAYING IN DARGA AT NIGHT TIME</h2>
    <li>Must And Should Provide Id Proof Details For Security reasons</li>
    <li>Single Visitor are not allowed to stay in Darga</li>
    <li>If AnyBody Came In 4 wheeler not allowed to sleep in their Own Vehicles</li>
    <li>If Any Emergency Health issues are there in that case Allowance is there</li>
    <li>Visitors plze try to Co-operate with These Factors</li>
    <img src="{% static 'sleep.jpg' %}">
    <img src="{% static 's.jpg' %}">
    <img src="{% static 'sleep.jpg' %}">
    <img src="{% static 'save.jpg' %}">
    <h1>CELEBRITIES WHO VISITED TO THIS PEACEFUL PLACE</h1>
    <img src="{% static 'nanai.jpg' %}">
    <img src="{% static 'ja.jpg' %}">
    <img src="{% static 'cel.jpg' %}">
    <img src="{% static 'vijay.jpg' %}">

    <h1>THANK FOR VISITING</h1>


<a href="/">GO TO HOME PAGE</a>


</ul>
</body>
</html>